@import '../../../assets/stylingConstant.scss';

mat-grid-list{
    width: 80%;
    margin:0 auto;
    text-align: center;
}

.cards{
    background-color:  $pokemonBrightYellow;
    display:grid;
    grid-template-columns: auto auto ;
    margin:1em 1em 1em 1em;
}
.mat-grid-tile :hover{
    cursor: pointer;
}
.pokemonName{
    background-color:yellow;
    position: relative;
    text-align: center;
    position: absolute;
    top:0px;
}
.images{
    background-color: blue;
}
header{
    background-color: $pokemonBrightYellow;
    font-size:2em;
    text-align: center;
    height:2em;
    padding-top:0.5em;
    }
