@import '../../../assets/stylingConstant.scss';

footer{
    position:fixed;
    bottom:0px;
    background-color:$pokemonBlue;
    width:100%;
    color:$pokemonBrightYellow;
    text-align: center;
    }
    a{
        color:$pokemonRed;
    }