@import '../../../assets/stylingConstant.scss';



*{
    text-transform: capitalize;
    font-size:1vw;
}
mat-card{
    margin:0 auto;
    justify-content: center;
  
}
mat-chip{
    text-align: center;
    width:100%;
    justify-content: center;
}
mat-chip-list{
    display: block;
    margin: 0 auto;
    justify-content: center;
}
.card{
    width: 60%;
    margin-top:20px;
    background-color: $pokemonRed;
}
img{
    display: block;
    height:300px;
    width:auto;
    justify-content: center;
    margin:0 auto;
text-align: center;}

.mat-card-header{
    background-color: $pokemonBrightYellow;
    padding-top:10px;
    border-radius: 10px;
    justify-content: center;}
    
.mat-card-header .pokemon-title #pokemon-id{
justify-content: right;   
background-color: $pokemonBlue;
color:white;
border-radius: 100%;
padding:4px;}

span{
    margin-left:4px;
    margin-right:4px;
}

.mat-card-subtitle{
    color:$pokemonBlue;
}
.mat-chip{
    background-color: $pokemonBlue;
    color:$pokemonBrightYellow;
    width:100%;
}
p{    
    text-align:center;
    margin: 0 ;
    margin-right:4px;
    margin-left: 4px;
 
}
.moves-pokemon{
    text-align: center;
    align-items: center;
}
.moves-pokemon:hover{
    cursor: pointer;
}
#pokemon-name{
    text-transform: capitalize;
}

  

  .catch-pokemon{
      margin-top:5px;
      justify-content: center;
      margin:0 auto;
      text-align: center;
  }
  #catch-pokemon-button{
      margin-top:1em;
      margin-bottom:0;
      background-color: $pokemonBlue;
      color:white;
  }
  ::ng-deep .mat-menu-item {
    padding: 0 10px!important;
    width: 100%!important;
  }