<app-header></app-header>

<div *ngIf="pokemonDetails | async; let pokemon">
  <div class="catch-pokemon">
    <button id="catch-pokemon-button" (click)="catchPokemon(pokemon)" >Catch this pokemon</button>
    <button id="go-back-pokemon" (click)="goBack()">Go back</button>
</div>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="pokemon-title"><span id="pokemon-id">{{pokemon.id}}</span><span id="pokemon-name">{{pokemon.name}}</span></mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{pokemon.image}}" alt="Pokemon">
  <mat-card-content>
   <mat-chip-list class="">
     <mat-chip color="primary" selected><p *ngFor="let baseStats of pokemon.baseStats">{{baseStats}}</p></mat-chip>
      <mat-chip color="primary" selected> Type: <p *ngFor="let types of pokemon.types" > {{types}}</p> </mat-chip>
      <mat-chip color="primary" selected id="heightWeight">Height: {{pokemon.height}} Weight: {{pokemon.weight}}</mat-chip>
      <mat-chip class="abilities-pokemon" color="primary" selected>Abilities: {{pokemon.abilities}}<span>&nbsp;</span></mat-chip>
      <mat-chip class="moves-pokemon" color="primary" selected [matMenuTriggerFor]="menu">Moves: (Click for details):</mat-chip>
      <mat-menu #menu="matMenu" class="mat-menu" yPosition="above">
        <p mat-menu-item *ngFor="let data of pokemon.moves">{{data}}</p>
    </mat-menu>
   </mat-chip-list>
  </mat-card-content>
</mat-card>


</div>
