@import '../../../assets/stylingConstant.scss';
h1{
    border:0;
    margin:0;
    display: inline-block;
}
header{
    display: flex;
    margin:0;
    padding-top:1em;
    padding-bottom: 1em;
    border:0;
    width:100%;
    display: block;
    background-color:$pokemonRedDark;
    color: $pokemonBrightYellow;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size:2em;
}
img{
    width:50px;
    height:auto;
    display:inline-block;
    margin-right:10px;
    
}
