@import '../../../assets/stylingConstant.scss';

*{
    text-transform:capitalize;
}
h1{
    text-align: center;
    margin-bottom: 0;
    border-radius: 10%;
}
h2{
    text-align: center;
}
.catch-more-pokemons-button{
    text-align:center;
}

mat-grid-list{
    width: 80%;
    margin:0 auto;
}
.cards{
    display:grid;
    grid-template-columns: auto auto ;
    margin:1em 1em 1em 1em;
  
}
.pokemonName{
    background-color:yellow;
    position: relative;
    text-align: center;
    position: absolute;
    top:0px;
    padding:0.5em 0.5em 0.5em 0.5em;
    margin-bottom:0;
    border-radius: 10%;
}
.images{
    background-color: blue;
    border-radius:10%;
}
.mat-grid-tile{
    background-color: $pokemonRedDark;
    border-radius: 10%;
}

