<app-header></app-header>
<h1>Welcome {{trainer.name}}</h1>
<h2>List of your current Pokemons</h2>
<mat-grid-list cols="3" rowHeight="1:1" [gutterSize]="'1em'">
    <mat-grid-tile class="cards" *ngFor="let pokemon of arrayOfCatchedPokemonsId">
        <div class="pokemonName"><h1>{{pokemon.name}}</h1></div>
    <img class="images" src={{pokemon.pictureUrl}} alt="" srcset="" width="100px">
        </mat-grid-tile>
  </mat-grid-list>
<div class="catch-more-pokemons-button">
<button (click)="goToPokemonList()">Go to pokemon library to catch more</button>
<button (click)="startOver()">Start a new adventure</button>
</div>

