@import '../../../assets/stylingConstant.scss';



.trainer-name-container{
    text-align: center;
    display:grid;
    grid-template-columns: auto  ;
    position: relative;
    gap:1em ;
    font-size:1em;
    background-color: $pokemonBlue;
    padding-bottom: 2em;
    padding-top:2em;
    height:100%;
}

    
p{
    background-color: $pokemonBrightYellow;
    padding:2em;
    font-size:2em;
    color: $pokemonBlue;
}
input{
    margin-top:2em;
    width:20%;
    text-align: center;
    margin:0 auto;
}
button{
    width:20%;
    margin:0 auto;
}